aniso8601==7.0.0
asgiref==3.2.10
astroid==2.4.2
attrs==19.3.0
Automat==20.2.0
autopep8==1.5.3
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
dj-database-url==0.5.0
Django==3.0.8
django-cors-headers==3.4.0
django-filter==2.3.0
django-heroku==0.3.1
djangorestframework==3.11.0
gql==2.0.0
graphene==2.1.8
graphene-django==2.11.0
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
isort==4.3.21
itemadapter==0.1.0
lazy-object-proxy==1.4.3
lxml==4.5.1
mccabe==0.6.1
parsel==1.6.0
promise==2.3
Protego==0.1.16
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pylint==2.5.3
pyOpenSSL==19.1.0
python-dotenv==0.14.0
pytz==2020.1
queuelib==1.5.0
requests==2.24.0
Rx==1.6.1
Scrapy==2.6.0
service-identity==18.1.0
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
Twisted==20.3.0
typed-ast==1.4.1
Unidecode==1.1.1
urllib3==1.25.9
w3lib==1.22.0
whitenoise==5.1.0
wrapt==1.12.1
zope.interface==5.1.0
